@import url("https://fonts.googleapis.com/css2?family=Langar&display=swap");
body {
  background: #7a8142;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 20px;
}

h1 {
  display: block;
  font-size: 3em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: "Langar", cursive;
  text-align: center;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.box-1 {
  width: 5vw;
  height: 5vw;
  background-position: center;
  background-size: cover;
  background: url(./white.jpg);
  text-align: center;
  font-size: 4vw;
  border: black 1px solid;
}

.box-2 {
  width: 5vw;
  height: 5vw;
  background-color: #aa8239;
  text-align: center;
  font-size: 4vw;
  border: black 1px solid;
}
